
    body{
    /*background-color: skyblue;*/
    background: skyblue ;
    font-family: 'Bookman Old Style', cursive;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-variant: small-caps;
    font-weight: bold;
    }

    #header{
    margin-top: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    }

    #header h2{
    font-weight: bold;
    text-decoration: underline ;
    color: #fff;
    }
    #navya {
      padding: 8px;
      margin-top: 8px;
      background-color: black;
      color: white;
      border-radius: 15px;
    }
    #janu {
      margin-left: 5px;
      color: white;
      padding-left: 10px;
      font-size: large;
      font-weight: 400;
      background-color: black;
      border-radius: 10px;
      padding: 4px;
    }
    #likki {
      margin-left: 5px;
      color: white;
      padding-left: 10px;
      font-size: xx-large;
      font-weight: 600;
      background-color: black;
      border-radius: 25px;
      padding: 8px;
    }
    #esh {
      background-color: white;
      border-radius: 10rem;
    }

    .card{
    border: 10px solid transparent;
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.4);
    box-shadow: 2px 2px 2px grey;
    }

    .inputcity{
    background-color: lavenderblush;
    }

    .location{
    font-size: larger;
    }

    .date{
    font-size: small;
    }

    .temp{
    font-size: 6vh;
    }

    .weather{
    font-size: x-large;
    }
